{%- macro Description(name, img, type, role, origin, manufacturer, designer, first_flight, built, introduction, retired, maximumSpeed, cruiseSpeed, variantsExists, variants) -%}

==వివరణ==
ప్రస్తుతం ఈ విమానం {{origin}} ఉంది. ఒక ఇంజిన్ ఉన్న ఈ విమానం గంటకు {{maximumSpeed}} కిలోమీటర్ ల వేగంతో ప్రయాణించగలదు గంటకు {{cruiseSpeed}} కిలోమీటర్ల కనీస వేగంతో ల్యాండ్ అవుతుంది.

విమాన పరిమాణ వివరాలు:

{| class="wikitable"
!సాధారణ లక్షణాలు
!డేటా
|-
|సిబ్బంది
|{{crew}}
|-
|వెడల్పు
|{{ length }}
|-
|ఎత్తు
|{{height}}
|-
|వింగ్ స్పన్
|{{wingspan}}
|-
|వింగ్ ఏరియా
|{{ wingarea}}
|-
|కనీస బరువు
|{{emptyweight}}
|-
| సాధారణ బరువు
|{{grossweight}}
|-
|}

{% if variants %}
==రూపాంతరాలు==
{% for elem in variants %}
*'''{{- elem -}}'''
{% endfor %}
{% endif %}

 {%- endmacro -%}
 {{- Description(name, img, type, role, origin ,manufacturer, designer, first_flight, built, introduction, retired,maximumSpeed, cruiseSpeed, variantsExists, variants) -}}