{%- macro Infobox(name, img, type, role, origin, manufacturer, designer, first_flight, built, introduction, retired) -%}
    {{ '{|{{Infobox aircraft begin'}}
            |name = {{name}}
            |image = {{img}}
            |image_border = yes
            |alt = అకాఫ్లీగ్ ముంచెన్ Mü13
        {{ '}}' }}
        {{ '{{Infobox aircraft type'}}
        {% if type != "" %}
             {{ '   |type = '}} {{type}}
        {%- endif -%}
                |type = {{role}}
        {%- if origin != "" %}
             {{ '   |national origin = '}}{{origin}}
        {%- endif %}
             |manufacturer = {{manufacturer}}
        {%- if designer != "" %}
             |designer = {{designer}}
        {%- endif %}
             |first flight = {{first_flight}}
             |number built = {{built}}
        {%- if introduction != "" %}
             |introduced = {{introduction}}
        {%- endif %}
        {%- if retired != "" %}
             |retired = {{retired}}
        {%- endif %}

    {{ '}}|}' }}
 {%- endmacro -%}
 {{- Infobox(name, img, type, role, origin ,manufacturer, designer, first_flight, built, introduction, retired ) -}}