{%- macro Infobox() -%}
{{- '{{Infobox aircraft begin
 |name = అకాఫ్లీగ్ ముంచెన్ ఎంయు 13
 |image = File:Akaflieg Mue 13.jpg
 |image_border = yes
 |alt = అకాఫ్లీగ్ ముంచెన్ Mü13
}}{{Infobox aircraft type
 |type = అకాఫ్లీగ్ ముంచెన్ Mü13
 |role = సెయిల్ ప్లేన్
 |national origin = జర్మనీ
 |manufacturer = అకాఫ్లీగ్ ముంచెన్
 |designer = ఎగాన్ స్కీబ్, కర్ట్ ష్మిత్ మరియు టోనీ ట్రోగర్ [1]
 |first flight = 1935
}}'
 -}}
 {%- endmacro -%}
 {{ Infobox() }}